Portal/Web References/GetRailStations/NIRFromToWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRailStations">
        <s:complexType />
      </s:element>
      <s:element name="GetRailStationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRailStationsResult" type="tns:ArrayOfStations" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStations">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Stations" nillable="true" type="tns:Stations" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Stations">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StationId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StationName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRailStationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRailStations" />
  </wsdl:message>
  <wsdl:message name="GetRailStationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRailStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="NIRFromToWebServiceSoap">
    <wsdl:operation name="GetRailStations">
      <wsdl:input message="tns:GetRailStationsSoapIn" />
      <wsdl:output message="tns:GetRailStationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NIRFromToWebServiceSoap" type="tns:NIRFromToWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRailStations">
      <soap:operation soapAction="http://tempuri.org/GetRailStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NIRFromToWebServiceSoap12" type="tns:NIRFromToWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRailStations">
      <soap12:operation soapAction="http://tempuri.org/GetRailStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIRFromToWebService">
    <wsdl:port name="NIRFromToWebServiceSoap" binding="tns:NIRFromToWebServiceSoap">
      <soap:address location="https://www.espetccms02.co.uk/ALinkWebServicesDev/Tools/NIRFromToWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="NIRFromToWebServiceSoap12" binding="tns:NIRFromToWebServiceSoap12">
      <soap12:address location="https://www.espetccms02.co.uk/ALinkWebServicesDev/Tools/NIRFromToWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>